
.bg-custom
{
	background-color: #795548 ;
} 
.navbar .nav-item .nav-link{
	
	font-size: 20px;
	color: white;
}
.navbar-custom .nav-item .nav-link:hover{
	background-color: white;
	color: black;
	border-radius: 10px;
}
.div-color{
	background-image: linear-gradient(to right top, #ed6700, #ec9000, #e5b500, #d9d828, #c8f95a);
	height: 800px;
}